*,
*::before,
*::after {
  box-sizing: inherit;
  border-color: currentcolor;
  border-style: solid;
  border-width: 0;
}

html,
:host {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "salt" 1;
  font-variation-settings: normal;
  line-height: 1;
  text-size-adjust: 100%;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
  color: #475569;
  background-color: #f8fafc;
}

h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

button,
input {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
  background-color: transparent;
}

button {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}
